DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=projeto-kiko"
DATABASE_SCHEMA="projeto-kiko"
JWT_SECRET="troque-por-um-segredo-forte"
PORT=3001
NODE_ENV="development"
LOG_LEVELS="log,error,warn,debug,verbose"

# Cloudflare R2
R2_ACCOUNT_ID=b869dfd6fce6b6b5084e6828474fb3a1
R2_ACCESS_KEY_ID=c2f584f37cf827620e7ebf921963bc0f
R2_SECRET_ACCESS_KEY=80065e4399b3b18370c9a2ea275adb286d39bb6d69380fda5348342e8ad65f14
R2_BUCKET_NAME=file-manager
R2_ENDPOINT=https://b869dfd6fce6b6b5084e6828474fb3a1.r2.cloudflarestorage.com
R2_PUBLIC_URL=https://pub-4e93f17c5e6741adbc3f86b3dc443031.r2.dev